<its-a-filter table="table.m-table" key="itsaf_{{schema._id.$oid}}"></its-a-filter>

<div class="w3-row">

    <div class="w3-col l1 m12">
        <div class="w3-bar w3-small w3-margin-top w3-border-bottom w3-border-top">
            <button class="my-bar-item c-hbg-cadetblue cancel" data-action="back">
                <i class="icon-undo2"></i>
            </button>

            {{> ./controls/menu.hbs schema}}

            <button class="my-bar-item c-hbg-cadetblue" data-action="reload">
                <i class="icon-loop2"></i>
            </button>
        </div>
    </div>

    <div class="w3-col l6 m12">

        <div class="w3-bar w3-small w3-margin-top w3-border-bottom w3-border-top">
            
            {{> ./controls/page.hbs pager}}
            {{> ./controls/pageSize.hbs pager}}

            <span class="my-bar-item my-margin-left w3-opacity">Total:</span>
            <span class="my-bar-item">{{pager.count}}</span>

        </div>

    </div>

    <div class="w3-col l5 m12">

        <div class="w3-bar w3-small w3-margin-top w3-border-bottom w3-border-top">

            {{> ./controls/filter.hbs schema.cols}}
        </div>

    </div>
</div>