<div class="w3-container w3-animate-opacity w3-margin-bottom">

    <div class="w3-container w3-padding">
        <span id="caption" class="c-blue w3-wide">{{schema.name}}</span><br>
        <span id="description" class="w3-small w3-opacity">{{schema.description}}</span>
    </div>

    {{> controls.hbs .}}

    <div class="hiddencols"></div>
    <div id="scrollwrapper" style="width: 100%;overflow-x: scroll;">
        {{!-- <table class="m-table w3-table-all w3-small"> --}}
        <table class="m-table w3-table-all">
            <tbody>
                {{> tableHeader.hbs schema.cols}}
            </tbody>

            <tbody>
                {{#each rows}}
                    {{> tableRows.hbs .}}
                {{/each}}
            </tbody>

        </table>
    </div>
</div>