<tr>
    <th data-type="integer">№</th>
    {{#each .}}
        <th title="{{key}}"
            class="w3-center"
            data-type="{{type}}"
            >
            {{alias}}
        </th>
    {{/each}}
</tr>