<tr data-index="{{@index}}">
    <td class="w3-opacity"></td>
    {{#each .}}
        <td class="
            {{!-- {{#unless write}}
                w3-opacity
            {{/unless}} --}}
            {{#if (isText type)}}
                w3-left-align w3-tiny
            {{else}}
                w3-center
            {{/if}}
            "
            data-value="{{pack value}}"
            data-key="{{key}}"
            data-type="{{type}}"
            data-write="{{write}}"
            data-id="{{id}}"

            {{#if (isText type)}}
                style="white-space:pre-line; padding-left: 8px"
            {{/if}}
            >{{value}}</td>
            
    {{/each}}
</tr>