<span class="my-bar-item my-margin-left w3-opacity">Filter:</span>

<select class="my-bar-item w3-input" id="filterscope"
    onchange="this.dispatchEvent(new CustomEvent('filtertable',{bubbles:true}))"
    >
    <option>any</option>
    {{#each .}}
        <option>{{uc alias}}</option>
    {{/each}}
</select>

<input type="text" id="filter" class="my-bar-item w3-input"
    onchange="this.dispatchEvent(new CustomEvent('filtertable',{bubbles:true}))"
    >
<button class="my-bar-item c-hbg-cadetblue">
    <i class="icon-filter"></i>
</button>
<button class="my-bar-item c-hbg-cadetblue" id="clearfilter"
    onclick="this.dispatchEvent(new CustomEvent('clearfilter',{bubbles:true}))"
    >
    <i class="icon-cross"></i>
</button>