<div class="w3-dropdown-hover">
    <span class="w3-bar">
        {{!-- <span class="my-bar-item icon-cog"></span> --}}
        <span class="my-bar-item">
            <i class="icon-cog"></i>
        </span>

    </span>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center"
        style="min-width:90px"
        >
            <button class="w3-bar-item w3-btn c-hbg-lightblue" data-action="clearmarks">
                Clear marks
            </button>
            <button class="w3-bar-item w3-btn c-hbg-lightblue" data-action="clearsorting">
                Clear sorting
            </button>

            {{#if editable}}
                    <button class="w3-bar-item w3-btn c-hbg-lightblue" data-action="addrow">
                        Add row
                    </button>
            {{/if}}

            <button class="w3-bar-item w3-btn c-hbg-lightblue" data-action="exportcsv">
                Export CSV
            </button>
            <button class="w3-bar-item w3-btn c-hbg-lightblue" data-action="exportpdf">
                Export PDF
            </button>
    </div>
</div>