<span class="my-bar-item my-margin-left w3-opacity">
    Page Size:
</span>
<button class="my-bar-item w3-btn c-hbg-lightblue w3-round"
    data-action="decPageSize"
    {{#unless hasPrevPageSize}}
        disabled
    {{/unless}}
    >
    <i class="icon-minus"></i>
</button>
<div class="w3-dropdown-hover">
    <span class="w3-bar">
    <span class="my-bar-item">
        {{pageSize}}
    </span>
    </span>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center"
        style="min-width:90px"
        >
        {{#each pageSizes}}
            <button data-action="setPageSize"
                class="w3-bar-item w3-btn c-hbg-lightblue"
                {{#if selected}}
                    disabled
                {{/if}}
                >
                {{num}}
            </button>
        {{/each}}
    </div>
</div>
<button class="my-bar-item w3-btn c-hbg-lightblue w3-round"
    data-action="incPageSize"
    {{#unless hasNextPageSize}}
        disabled
    {{/unless}}
    >
    <i class="icon-plus"></i>
</button>