<span class="my-bar-item my-margin-left w3-opacity">
    Page:
</span>
<button class="my-bar-item w3-btn c-hbg-lightblue w3-margin-left w3-round"
    data-action="decPage"
    {{#unless hasPrevPage}}
        disabled
    {{/unless}}
    >
    <i class="icon-arrow-left"></i>
</button>
<div class="w3-dropdown-hover">
    <span class="w3-bar">
    <span class="my-bar-item">
        {{page}} of {{pages.length}}
    </span>
    </span>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center"
        style="min-width:90px"
        >
        {{#each pages}}
            <button data-action="setPage"
                class="w3-bar-item w3-btn c-hbg-lightblue filterctl"
                {{#if selected}}
                    disabled
                {{/if}}
                >
                {{num}}
            </button>
        {{/each}}
    </div>
</div>
<button class="my-bar-item w3-btn c-hbg-lightblue w3-round filterctl"
    data-action="incPage"
    {{#unless hasNextPage}}
        disabled
    {{/unless}}
    >
    <i class="icon-arrow-right"></i>
</button>