<div class="ctxmenu c-bg-aliceblue w3-small"
    onmouseleave="this.remove()"
    >
    <div class="ctxmenuitem"
        onclick="this.dispatchEvent(new CustomEvent('sort',{detail:{col:'{{col}}',direction:'asc'}, bubbles:true}))"
        >Sort <i class="icon-sort-amount-asc"></i></div>
    <div class="ctxmenuitem"
        onclick="this.dispatchEvent(new CustomEvent('sort',{detail:{col:'{{col}}',direction:'desc'}, bubbles:true}))"
        >Sort <i class="icon-sort-amount-desc"></i></div>

    {{#if isNumber}}
        <div class="ctxmenuitem"
            onclick="this.dispatchEvent(new CustomEvent('math',{detail:{col:'{{col}}'}, bubbles:true}))"
            >Calc <i class="icon-calculator"></i></div>
    {{/if}}


    <div class="ctxmenuitem"
        onclick="this.dispatchEvent(new CustomEvent('stats',{detail:{col:'{{col}}'}, bubbles:true}))"
        >Stats <i class="icon-calculator"></i></div>

</div>
