<div class="ctxmenu w3-small"
    onmouseleave="this.remove()"
    onclick="this.dispatchEvent(new CustomEvent('markCell',{detail:{row:'{{row}}',cell:'{{cell}}',bg:event.target.dataset.bg}, bubbles:true}))"
    >
    <div class="ctxmenuitem c-bg-ghostwhite" data-bg="">clear</div>
    <div class="ctxmenuitem c-bg-darkseagreen" data-bg="darkseagreen"></div>
    <div class="ctxmenuitem c-bg-skyblue" data-bg="skyblue"></div>
    <div class="ctxmenuitem c-bg-lemonchiffon" data-bg="lemonchiffon"></div>
    <div class="ctxmenuitem c-bg-khaki" data-bg="khaki"></div>
    <div class="ctxmenuitem c-bg-coral" data-bg="coral"></div>
</div>
