<div class="w3-container w3-padding">
    {{!-- <h3>Field Editor</h3> --}}
    <p class="w3-opacity-max">{{type}}</p>
    {{#if dict}}
        <select class="w3-input w3-border w3-round w3-margin-bottom"
            value="{{value}}"
            data-id="{{id}}"
            data-key="{{key}}"
            data-value="{{value}}"
            data-type="{{type}}"
            >
            {{#each dict}}
                <option>{{.}}</option>
            {{/each}}
        </select>
    {{else if (isText type)}}
        <textarea class="w3-input w3-border w3-round w3-margin-bottom"
            style="resize: vertical;" rows="10"
            {{!-- value="{{value}}" --}}
            data-id="{{id}}"
            data-key="{{key}}"
            data-value="{{value}}"
            data-type="{{type}}"
            >{{value}}</textarea>
    {{else}}
        <input type="text" class="w3-input w3-border w3-round w3-margin-bottom"
            value="{{value}}"
            data-id="{{id}}"
            data-key="{{key}}"
            data-value="{{value}}"
            data-type="{{type}}"
            >
    {{/if}}
    <button class="save w3-btn w3-border w3-margin-bottom">Save</button>
    <button class="cancel w3-btn w3-border w3-margin-bottom">Cancel</button>
    
    <button class="history w3-btn w3-border w3-margin-bottom"
        data-key="{{key}}"
        data-id="{{id}}"
        data-id="{{type}}"
        >History</button>

    <div id="history"></div>
    {{!-- <pre>{{jsonHuman . }}</pre> --}}
</div>