<div class="w3-container my-margin-bottom my-margin-top w3-small">
    {{#if @root.length}}
        <span class="w3-opacity-max">Hidden columns:</span>
    {{/if}}
    {{#each .}}
        <span class="w3-tag w3-round my-margin-top fieldalias"
            ondblclick="this.dispatchEvent(new CustomEvent('showcolumn', {bubbles:true,detail: {alias:'{{.}}'}}))"
            >{{.}}</span>
    {{/each}}
</div>