<div class="w3-container">
    {{#if history.length}}
        <table class="w3-table w3-bordered w3-hoverable w3-small w3-margin-bottom">
            <tr>
                <th>Value</th>
                <th>When</th>
                <th>Author</th>
            </tr>
            {{#each history}}
                <tr>
                    <td><pre>{{value}}<pre></td>
                    <td>{{ts2str when}}</td>
                    <td>{{who}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        No data
    {{/if}}
</div>