<div class="w3-container w3-center w3-small">
    <h6 class="fieldalias">{{alias}}</h6>
    <table class="w3-table w3-bordered w3-hoverable">
        {{#each res}}
        <tr>
            <td class="w3-right-align">{{val}}</td>
            <td class="w3-left-align">{{qty}}</td>
        </tr>
        {{/each}}
    </table>
    <br>
    <button class="cancel w3-btn w3-border w3-margin-bottom">Close</button>
</div>