<div class="w3-bar w3-small c-darkgoldenrod">
    {{!-- <a href="/#" class="w3-bar-item w3-button">
        <i class="icon-home3"></i>
    </a>
    <a href="/#about" class="w3-bar-item w3-button">
        <i class="icon-info"></i>
    </a> --}}

    {{> ./user.hbs name}}
</div>