<span class="w3-bar-item">
    <i class="icon-user"></i>
    <span class="c-darkslateblue">{{.}}</span>
</span>
<button class="w3-bar-item w3-button" data-action="logout">
    <i class="icon-exit"></i>
</button>