.c-yellowgreen {color:yellowgreen;}
.c-f-yellowgreen:focus {color:yellowgreen;}
.c-h-yellowgreen:hover {color:yellowgreen;}
.c-bg-yellowgreen {background-color:yellowgreen;}
.c-hbg-yellowgreen:hover {background-color:yellowgreen;}
.c-fbg-yellowgreen:focus {background-color:yellowgreen;}
.c-bd-yellowgreen {border-color:yellowgreen;}
.c-hbd-yellowgreen:hover {border-color:yellowgreen;}
.c-fbd-yellowgreen:focus {border-color:yellowgreen;}
.c-yellow {color:yellow;}
.c-f-yellow:focus {color:yellow;}
.c-h-yellow:hover {color:yellow;}
.c-bg-yellow {background-color:yellow;}
.c-hbg-yellow:hover {background-color:yellow;}
.c-fbg-yellow:focus {background-color:yellow;}
.c-bd-yellow {border-color:yellow;}
.c-hbd-yellow:hover {border-color:yellow;}
.c-fbd-yellow:focus {border-color:yellow;}
.c-whitesmoke {color:whitesmoke;}
.c-f-whitesmoke:focus {color:whitesmoke;}
.c-h-whitesmoke:hover {color:whitesmoke;}
.c-bg-whitesmoke {background-color:whitesmoke;}
.c-hbg-whitesmoke:hover {background-color:whitesmoke;}
.c-fbg-whitesmoke:focus {background-color:whitesmoke;}
.c-bd-whitesmoke {border-color:whitesmoke;}
.c-hbd-whitesmoke:hover {border-color:whitesmoke;}
.c-fbd-whitesmoke:focus {border-color:whitesmoke;}
.c-white {color:white;}
.c-f-white:focus {color:white;}
.c-h-white:hover {color:white;}
.c-bg-white {background-color:white;}
.c-hbg-white:hover {background-color:white;}
.c-fbg-white:focus {background-color:white;}
.c-bd-white {border-color:white;}
.c-hbd-white:hover {border-color:white;}
.c-fbd-white:focus {border-color:white;}
.c-wheat {color:wheat;}
.c-f-wheat:focus {color:wheat;}
.c-h-wheat:hover {color:wheat;}
.c-bg-wheat {background-color:wheat;}
.c-hbg-wheat:hover {background-color:wheat;}
.c-fbg-wheat:focus {background-color:wheat;}
.c-bd-wheat {border-color:wheat;}
.c-hbd-wheat:hover {border-color:wheat;}
.c-fbd-wheat:focus {border-color:wheat;}
.c-violet {color:violet;}
.c-f-violet:focus {color:violet;}
.c-h-violet:hover {color:violet;}
.c-bg-violet {background-color:violet;}
.c-hbg-violet:hover {background-color:violet;}
.c-fbg-violet:focus {background-color:violet;}
.c-bd-violet {border-color:violet;}
.c-hbd-violet:hover {border-color:violet;}
.c-fbd-violet:focus {border-color:violet;}
.c-turquoise {color:turquoise;}
.c-f-turquoise:focus {color:turquoise;}
.c-h-turquoise:hover {color:turquoise;}
.c-bg-turquoise {background-color:turquoise;}
.c-hbg-turquoise:hover {background-color:turquoise;}
.c-fbg-turquoise:focus {background-color:turquoise;}
.c-bd-turquoise {border-color:turquoise;}
.c-hbd-turquoise:hover {border-color:turquoise;}
.c-fbd-turquoise:focus {border-color:turquoise;}
.c-tomato {color:tomato;}
.c-f-tomato:focus {color:tomato;}
.c-h-tomato:hover {color:tomato;}
.c-bg-tomato {background-color:tomato;}
.c-hbg-tomato:hover {background-color:tomato;}
.c-fbg-tomato:focus {background-color:tomato;}
.c-bd-tomato {border-color:tomato;}
.c-hbd-tomato:hover {border-color:tomato;}
.c-fbd-tomato:focus {border-color:tomato;}
.c-thistle {color:thistle;}
.c-f-thistle:focus {color:thistle;}
.c-h-thistle:hover {color:thistle;}
.c-bg-thistle {background-color:thistle;}
.c-hbg-thistle:hover {background-color:thistle;}
.c-fbg-thistle:focus {background-color:thistle;}
.c-bd-thistle {border-color:thistle;}
.c-hbd-thistle:hover {border-color:thistle;}
.c-fbd-thistle:focus {border-color:thistle;}
.c-teal {color:teal;}
.c-f-teal:focus {color:teal;}
.c-h-teal:hover {color:teal;}
.c-bg-teal {background-color:teal;}
.c-hbg-teal:hover {background-color:teal;}
.c-fbg-teal:focus {background-color:teal;}
.c-bd-teal {border-color:teal;}
.c-hbd-teal:hover {border-color:teal;}
.c-fbd-teal:focus {border-color:teal;}
.c-tan {color:tan;}
.c-f-tan:focus {color:tan;}
.c-h-tan:hover {color:tan;}
.c-bg-tan {background-color:tan;}
.c-hbg-tan:hover {background-color:tan;}
.c-fbg-tan:focus {background-color:tan;}
.c-bd-tan {border-color:tan;}
.c-hbd-tan:hover {border-color:tan;}
.c-fbd-tan:focus {border-color:tan;}
.c-steelblue {color:steelblue;}
.c-f-steelblue:focus {color:steelblue;}
.c-h-steelblue:hover {color:steelblue;}
.c-bg-steelblue {background-color:steelblue;}
.c-hbg-steelblue:hover {background-color:steelblue;}
.c-fbg-steelblue:focus {background-color:steelblue;}
.c-bd-steelblue {border-color:steelblue;}
.c-hbd-steelblue:hover {border-color:steelblue;}
.c-fbd-steelblue:focus {border-color:steelblue;}
.c-springgreen {color:springgreen;}
.c-f-springgreen:focus {color:springgreen;}
.c-h-springgreen:hover {color:springgreen;}
.c-bg-springgreen {background-color:springgreen;}
.c-hbg-springgreen:hover {background-color:springgreen;}
.c-fbg-springgreen:focus {background-color:springgreen;}
.c-bd-springgreen {border-color:springgreen;}
.c-hbd-springgreen:hover {border-color:springgreen;}
.c-fbd-springgreen:focus {border-color:springgreen;}
.c-snow {color:snow;}
.c-f-snow:focus {color:snow;}
.c-h-snow:hover {color:snow;}
.c-bg-snow {background-color:snow;}
.c-hbg-snow:hover {background-color:snow;}
.c-fbg-snow:focus {background-color:snow;}
.c-bd-snow {border-color:snow;}
.c-hbd-snow:hover {border-color:snow;}
.c-fbd-snow:focus {border-color:snow;}
.c-slategrey {color:slategrey;}
.c-f-slategrey:focus {color:slategrey;}
.c-h-slategrey:hover {color:slategrey;}
.c-bg-slategrey {background-color:slategrey;}
.c-hbg-slategrey:hover {background-color:slategrey;}
.c-fbg-slategrey:focus {background-color:slategrey;}
.c-bd-slategrey {border-color:slategrey;}
.c-hbd-slategrey:hover {border-color:slategrey;}
.c-fbd-slategrey:focus {border-color:slategrey;}
.c-slategray {color:slategray;}
.c-f-slategray:focus {color:slategray;}
.c-h-slategray:hover {color:slategray;}
.c-bg-slategray {background-color:slategray;}
.c-hbg-slategray:hover {background-color:slategray;}
.c-fbg-slategray:focus {background-color:slategray;}
.c-bd-slategray {border-color:slategray;}
.c-hbd-slategray:hover {border-color:slategray;}
.c-fbd-slategray:focus {border-color:slategray;}
.c-slateblue {color:slateblue;}
.c-f-slateblue:focus {color:slateblue;}
.c-h-slateblue:hover {color:slateblue;}
.c-bg-slateblue {background-color:slateblue;}
.c-hbg-slateblue:hover {background-color:slateblue;}
.c-fbg-slateblue:focus {background-color:slateblue;}
.c-bd-slateblue {border-color:slateblue;}
.c-hbd-slateblue:hover {border-color:slateblue;}
.c-fbd-slateblue:focus {border-color:slateblue;}
.c-skyblue {color:skyblue;}
.c-f-skyblue:focus {color:skyblue;}
.c-h-skyblue:hover {color:skyblue;}
.c-bg-skyblue {background-color:skyblue;}
.c-hbg-skyblue:hover {background-color:skyblue;}
.c-fbg-skyblue:focus {background-color:skyblue;}
.c-bd-skyblue {border-color:skyblue;}
.c-hbd-skyblue:hover {border-color:skyblue;}
.c-fbd-skyblue:focus {border-color:skyblue;}
.c-silver {color:silver;}
.c-f-silver:focus {color:silver;}
.c-h-silver:hover {color:silver;}
.c-bg-silver {background-color:silver;}
.c-hbg-silver:hover {background-color:silver;}
.c-fbg-silver:focus {background-color:silver;}
.c-bd-silver {border-color:silver;}
.c-hbd-silver:hover {border-color:silver;}
.c-fbd-silver:focus {border-color:silver;}
.c-sienna {color:sienna;}
.c-f-sienna:focus {color:sienna;}
.c-h-sienna:hover {color:sienna;}
.c-bg-sienna {background-color:sienna;}
.c-hbg-sienna:hover {background-color:sienna;}
.c-fbg-sienna:focus {background-color:sienna;}
.c-bd-sienna {border-color:sienna;}
.c-hbd-sienna:hover {border-color:sienna;}
.c-fbd-sienna:focus {border-color:sienna;}
.c-seashell {color:seashell;}
.c-f-seashell:focus {color:seashell;}
.c-h-seashell:hover {color:seashell;}
.c-bg-seashell {background-color:seashell;}
.c-hbg-seashell:hover {background-color:seashell;}
.c-fbg-seashell:focus {background-color:seashell;}
.c-bd-seashell {border-color:seashell;}
.c-hbd-seashell:hover {border-color:seashell;}
.c-fbd-seashell:focus {border-color:seashell;}
.c-seagreen {color:seagreen;}
.c-f-seagreen:focus {color:seagreen;}
.c-h-seagreen:hover {color:seagreen;}
.c-bg-seagreen {background-color:seagreen;}
.c-hbg-seagreen:hover {background-color:seagreen;}
.c-fbg-seagreen:focus {background-color:seagreen;}
.c-bd-seagreen {border-color:seagreen;}
.c-hbd-seagreen:hover {border-color:seagreen;}
.c-fbd-seagreen:focus {border-color:seagreen;}
.c-sandybrown {color:sandybrown;}
.c-f-sandybrown:focus {color:sandybrown;}
.c-h-sandybrown:hover {color:sandybrown;}
.c-bg-sandybrown {background-color:sandybrown;}
.c-hbg-sandybrown:hover {background-color:sandybrown;}
.c-fbg-sandybrown:focus {background-color:sandybrown;}
.c-bd-sandybrown {border-color:sandybrown;}
.c-hbd-sandybrown:hover {border-color:sandybrown;}
.c-fbd-sandybrown:focus {border-color:sandybrown;}
.c-salmon {color:salmon;}
.c-f-salmon:focus {color:salmon;}
.c-h-salmon:hover {color:salmon;}
.c-bg-salmon {background-color:salmon;}
.c-hbg-salmon:hover {background-color:salmon;}
.c-fbg-salmon:focus {background-color:salmon;}
.c-bd-salmon {border-color:salmon;}
.c-hbd-salmon:hover {border-color:salmon;}
.c-fbd-salmon:focus {border-color:salmon;}
.c-saddlebrown {color:saddlebrown;}
.c-f-saddlebrown:focus {color:saddlebrown;}
.c-h-saddlebrown:hover {color:saddlebrown;}
.c-bg-saddlebrown {background-color:saddlebrown;}
.c-hbg-saddlebrown:hover {background-color:saddlebrown;}
.c-fbg-saddlebrown:focus {background-color:saddlebrown;}
.c-bd-saddlebrown {border-color:saddlebrown;}
.c-hbd-saddlebrown:hover {border-color:saddlebrown;}
.c-fbd-saddlebrown:focus {border-color:saddlebrown;}
.c-royalblue {color:royalblue;}
.c-f-royalblue:focus {color:royalblue;}
.c-h-royalblue:hover {color:royalblue;}
.c-bg-royalblue {background-color:royalblue;}
.c-hbg-royalblue:hover {background-color:royalblue;}
.c-fbg-royalblue:focus {background-color:royalblue;}
.c-bd-royalblue {border-color:royalblue;}
.c-hbd-royalblue:hover {border-color:royalblue;}
.c-fbd-royalblue:focus {border-color:royalblue;}
.c-rosybrown {color:rosybrown;}
.c-f-rosybrown:focus {color:rosybrown;}
.c-h-rosybrown:hover {color:rosybrown;}
.c-bg-rosybrown {background-color:rosybrown;}
.c-hbg-rosybrown:hover {background-color:rosybrown;}
.c-fbg-rosybrown:focus {background-color:rosybrown;}
.c-bd-rosybrown {border-color:rosybrown;}
.c-hbd-rosybrown:hover {border-color:rosybrown;}
.c-fbd-rosybrown:focus {border-color:rosybrown;}
.c-red {color:red;}
.c-f-red:focus {color:red;}
.c-h-red:hover {color:red;}
.c-bg-red {background-color:red;}
.c-hbg-red:hover {background-color:red;}
.c-fbg-red:focus {background-color:red;}
.c-bd-red {border-color:red;}
.c-hbd-red:hover {border-color:red;}
.c-fbd-red:focus {border-color:red;}
.c-rebeccapurple {color:rebeccapurple;}
.c-f-rebeccapurple:focus {color:rebeccapurple;}
.c-h-rebeccapurple:hover {color:rebeccapurple;}
.c-bg-rebeccapurple {background-color:rebeccapurple;}
.c-hbg-rebeccapurple:hover {background-color:rebeccapurple;}
.c-fbg-rebeccapurple:focus {background-color:rebeccapurple;}
.c-bd-rebeccapurple {border-color:rebeccapurple;}
.c-hbd-rebeccapurple:hover {border-color:rebeccapurple;}
.c-fbd-rebeccapurple:focus {border-color:rebeccapurple;}
.c-purple {color:purple;}
.c-f-purple:focus {color:purple;}
.c-h-purple:hover {color:purple;}
.c-bg-purple {background-color:purple;}
.c-hbg-purple:hover {background-color:purple;}
.c-fbg-purple:focus {background-color:purple;}
.c-bd-purple {border-color:purple;}
.c-hbd-purple:hover {border-color:purple;}
.c-fbd-purple:focus {border-color:purple;}
.c-powderblue {color:powderblue;}
.c-f-powderblue:focus {color:powderblue;}
.c-h-powderblue:hover {color:powderblue;}
.c-bg-powderblue {background-color:powderblue;}
.c-hbg-powderblue:hover {background-color:powderblue;}
.c-fbg-powderblue:focus {background-color:powderblue;}
.c-bd-powderblue {border-color:powderblue;}
.c-hbd-powderblue:hover {border-color:powderblue;}
.c-fbd-powderblue:focus {border-color:powderblue;}
.c-plum {color:plum;}
.c-f-plum:focus {color:plum;}
.c-h-plum:hover {color:plum;}
.c-bg-plum {background-color:plum;}
.c-hbg-plum:hover {background-color:plum;}
.c-fbg-plum:focus {background-color:plum;}
.c-bd-plum {border-color:plum;}
.c-hbd-plum:hover {border-color:plum;}
.c-fbd-plum:focus {border-color:plum;}
.c-pink {color:pink;}
.c-f-pink:focus {color:pink;}
.c-h-pink:hover {color:pink;}
.c-bg-pink {background-color:pink;}
.c-hbg-pink:hover {background-color:pink;}
.c-fbg-pink:focus {background-color:pink;}
.c-bd-pink {border-color:pink;}
.c-hbd-pink:hover {border-color:pink;}
.c-fbd-pink:focus {border-color:pink;}
.c-peru {color:peru;}
.c-f-peru:focus {color:peru;}
.c-h-peru:hover {color:peru;}
.c-bg-peru {background-color:peru;}
.c-hbg-peru:hover {background-color:peru;}
.c-fbg-peru:focus {background-color:peru;}
.c-bd-peru {border-color:peru;}
.c-hbd-peru:hover {border-color:peru;}
.c-fbd-peru:focus {border-color:peru;}
.c-peachpuff {color:peachpuff;}
.c-f-peachpuff:focus {color:peachpuff;}
.c-h-peachpuff:hover {color:peachpuff;}
.c-bg-peachpuff {background-color:peachpuff;}
.c-hbg-peachpuff:hover {background-color:peachpuff;}
.c-fbg-peachpuff:focus {background-color:peachpuff;}
.c-bd-peachpuff {border-color:peachpuff;}
.c-hbd-peachpuff:hover {border-color:peachpuff;}
.c-fbd-peachpuff:focus {border-color:peachpuff;}
.c-papayawhip {color:papayawhip;}
.c-f-papayawhip:focus {color:papayawhip;}
.c-h-papayawhip:hover {color:papayawhip;}
.c-bg-papayawhip {background-color:papayawhip;}
.c-hbg-papayawhip:hover {background-color:papayawhip;}
.c-fbg-papayawhip:focus {background-color:papayawhip;}
.c-bd-papayawhip {border-color:papayawhip;}
.c-hbd-papayawhip:hover {border-color:papayawhip;}
.c-fbd-papayawhip:focus {border-color:papayawhip;}
.c-palevioletred {color:palevioletred;}
.c-f-palevioletred:focus {color:palevioletred;}
.c-h-palevioletred:hover {color:palevioletred;}
.c-bg-palevioletred {background-color:palevioletred;}
.c-hbg-palevioletred:hover {background-color:palevioletred;}
.c-fbg-palevioletred:focus {background-color:palevioletred;}
.c-bd-palevioletred {border-color:palevioletred;}
.c-hbd-palevioletred:hover {border-color:palevioletred;}
.c-fbd-palevioletred:focus {border-color:palevioletred;}
.c-paleturquoise {color:paleturquoise;}
.c-f-paleturquoise:focus {color:paleturquoise;}
.c-h-paleturquoise:hover {color:paleturquoise;}
.c-bg-paleturquoise {background-color:paleturquoise;}
.c-hbg-paleturquoise:hover {background-color:paleturquoise;}
.c-fbg-paleturquoise:focus {background-color:paleturquoise;}
.c-bd-paleturquoise {border-color:paleturquoise;}
.c-hbd-paleturquoise:hover {border-color:paleturquoise;}
.c-fbd-paleturquoise:focus {border-color:paleturquoise;}
.c-palegreen {color:palegreen;}
.c-f-palegreen:focus {color:palegreen;}
.c-h-palegreen:hover {color:palegreen;}
.c-bg-palegreen {background-color:palegreen;}
.c-hbg-palegreen:hover {background-color:palegreen;}
.c-fbg-palegreen:focus {background-color:palegreen;}
.c-bd-palegreen {border-color:palegreen;}
.c-hbd-palegreen:hover {border-color:palegreen;}
.c-fbd-palegreen:focus {border-color:palegreen;}
.c-palegoldenrod {color:palegoldenrod;}
.c-f-palegoldenrod:focus {color:palegoldenrod;}
.c-h-palegoldenrod:hover {color:palegoldenrod;}
.c-bg-palegoldenrod {background-color:palegoldenrod;}
.c-hbg-palegoldenrod:hover {background-color:palegoldenrod;}
.c-fbg-palegoldenrod:focus {background-color:palegoldenrod;}
.c-bd-palegoldenrod {border-color:palegoldenrod;}
.c-hbd-palegoldenrod:hover {border-color:palegoldenrod;}
.c-fbd-palegoldenrod:focus {border-color:palegoldenrod;}
.c-orchid {color:orchid;}
.c-f-orchid:focus {color:orchid;}
.c-h-orchid:hover {color:orchid;}
.c-bg-orchid {background-color:orchid;}
.c-hbg-orchid:hover {background-color:orchid;}
.c-fbg-orchid:focus {background-color:orchid;}
.c-bd-orchid {border-color:orchid;}
.c-hbd-orchid:hover {border-color:orchid;}
.c-fbd-orchid:focus {border-color:orchid;}
.c-orangered {color:orangered;}
.c-f-orangered:focus {color:orangered;}
.c-h-orangered:hover {color:orangered;}
.c-bg-orangered {background-color:orangered;}
.c-hbg-orangered:hover {background-color:orangered;}
.c-fbg-orangered:focus {background-color:orangered;}
.c-bd-orangered {border-color:orangered;}
.c-hbd-orangered:hover {border-color:orangered;}
.c-fbd-orangered:focus {border-color:orangered;}
.c-orange {color:orange;}
.c-f-orange:focus {color:orange;}
.c-h-orange:hover {color:orange;}
.c-bg-orange {background-color:orange;}
.c-hbg-orange:hover {background-color:orange;}
.c-fbg-orange:focus {background-color:orange;}
.c-bd-orange {border-color:orange;}
.c-hbd-orange:hover {border-color:orange;}
.c-fbd-orange:focus {border-color:orange;}
.c-olivedrab {color:olivedrab;}
.c-f-olivedrab:focus {color:olivedrab;}
.c-h-olivedrab:hover {color:olivedrab;}
.c-bg-olivedrab {background-color:olivedrab;}
.c-hbg-olivedrab:hover {background-color:olivedrab;}
.c-fbg-olivedrab:focus {background-color:olivedrab;}
.c-bd-olivedrab {border-color:olivedrab;}
.c-hbd-olivedrab:hover {border-color:olivedrab;}
.c-fbd-olivedrab:focus {border-color:olivedrab;}
.c-olive {color:olive;}
.c-f-olive:focus {color:olive;}
.c-h-olive:hover {color:olive;}
.c-bg-olive {background-color:olive;}
.c-hbg-olive:hover {background-color:olive;}
.c-fbg-olive:focus {background-color:olive;}
.c-bd-olive {border-color:olive;}
.c-hbd-olive:hover {border-color:olive;}
.c-fbd-olive:focus {border-color:olive;}
.c-oldlace {color:oldlace;}
.c-f-oldlace:focus {color:oldlace;}
.c-h-oldlace:hover {color:oldlace;}
.c-bg-oldlace {background-color:oldlace;}
.c-hbg-oldlace:hover {background-color:oldlace;}
.c-fbg-oldlace:focus {background-color:oldlace;}
.c-bd-oldlace {border-color:oldlace;}
.c-hbd-oldlace:hover {border-color:oldlace;}
.c-fbd-oldlace:focus {border-color:oldlace;}
.c-navy {color:navy;}
.c-f-navy:focus {color:navy;}
.c-h-navy:hover {color:navy;}
.c-bg-navy {background-color:navy;}
.c-hbg-navy:hover {background-color:navy;}
.c-fbg-navy:focus {background-color:navy;}
.c-bd-navy {border-color:navy;}
.c-hbd-navy:hover {border-color:navy;}
.c-fbd-navy:focus {border-color:navy;}
.c-navajowhite {color:navajowhite;}
.c-f-navajowhite:focus {color:navajowhite;}
.c-h-navajowhite:hover {color:navajowhite;}
.c-bg-navajowhite {background-color:navajowhite;}
.c-hbg-navajowhite:hover {background-color:navajowhite;}
.c-fbg-navajowhite:focus {background-color:navajowhite;}
.c-bd-navajowhite {border-color:navajowhite;}
.c-hbd-navajowhite:hover {border-color:navajowhite;}
.c-fbd-navajowhite:focus {border-color:navajowhite;}
.c-moccasin {color:moccasin;}
.c-f-moccasin:focus {color:moccasin;}
.c-h-moccasin:hover {color:moccasin;}
.c-bg-moccasin {background-color:moccasin;}
.c-hbg-moccasin:hover {background-color:moccasin;}
.c-fbg-moccasin:focus {background-color:moccasin;}
.c-bd-moccasin {border-color:moccasin;}
.c-hbd-moccasin:hover {border-color:moccasin;}
.c-fbd-moccasin:focus {border-color:moccasin;}
.c-mistyrose {color:mistyrose;}
.c-f-mistyrose:focus {color:mistyrose;}
.c-h-mistyrose:hover {color:mistyrose;}
.c-bg-mistyrose {background-color:mistyrose;}
.c-hbg-mistyrose:hover {background-color:mistyrose;}
.c-fbg-mistyrose:focus {background-color:mistyrose;}
.c-bd-mistyrose {border-color:mistyrose;}
.c-hbd-mistyrose:hover {border-color:mistyrose;}
.c-fbd-mistyrose:focus {border-color:mistyrose;}
.c-mintcream {color:mintcream;}
.c-f-mintcream:focus {color:mintcream;}
.c-h-mintcream:hover {color:mintcream;}
.c-bg-mintcream {background-color:mintcream;}
.c-hbg-mintcream:hover {background-color:mintcream;}
.c-fbg-mintcream:focus {background-color:mintcream;}
.c-bd-mintcream {border-color:mintcream;}
.c-hbd-mintcream:hover {border-color:mintcream;}
.c-fbd-mintcream:focus {border-color:mintcream;}
.c-midnightblue {color:midnightblue;}
.c-f-midnightblue:focus {color:midnightblue;}
.c-h-midnightblue:hover {color:midnightblue;}
.c-bg-midnightblue {background-color:midnightblue;}
.c-hbg-midnightblue:hover {background-color:midnightblue;}
.c-fbg-midnightblue:focus {background-color:midnightblue;}
.c-bd-midnightblue {border-color:midnightblue;}
.c-hbd-midnightblue:hover {border-color:midnightblue;}
.c-fbd-midnightblue:focus {border-color:midnightblue;}
.c-mediumvioletred {color:mediumvioletred;}
.c-f-mediumvioletred:focus {color:mediumvioletred;}
.c-h-mediumvioletred:hover {color:mediumvioletred;}
.c-bg-mediumvioletred {background-color:mediumvioletred;}
.c-hbg-mediumvioletred:hover {background-color:mediumvioletred;}
.c-fbg-mediumvioletred:focus {background-color:mediumvioletred;}
.c-bd-mediumvioletred {border-color:mediumvioletred;}
.c-hbd-mediumvioletred:hover {border-color:mediumvioletred;}
.c-fbd-mediumvioletred:focus {border-color:mediumvioletred;}
.c-mediumturquoise {color:mediumturquoise;}
.c-f-mediumturquoise:focus {color:mediumturquoise;}
.c-h-mediumturquoise:hover {color:mediumturquoise;}
.c-bg-mediumturquoise {background-color:mediumturquoise;}
.c-hbg-mediumturquoise:hover {background-color:mediumturquoise;}
.c-fbg-mediumturquoise:focus {background-color:mediumturquoise;}
.c-bd-mediumturquoise {border-color:mediumturquoise;}
.c-hbd-mediumturquoise:hover {border-color:mediumturquoise;}
.c-fbd-mediumturquoise:focus {border-color:mediumturquoise;}
.c-mediumspringgreen {color:mediumspringgreen;}
.c-f-mediumspringgreen:focus {color:mediumspringgreen;}
.c-h-mediumspringgreen:hover {color:mediumspringgreen;}
.c-bg-mediumspringgreen {background-color:mediumspringgreen;}
.c-hbg-mediumspringgreen:hover {background-color:mediumspringgreen;}
.c-fbg-mediumspringgreen:focus {background-color:mediumspringgreen;}
.c-bd-mediumspringgreen {border-color:mediumspringgreen;}
.c-hbd-mediumspringgreen:hover {border-color:mediumspringgreen;}
.c-fbd-mediumspringgreen:focus {border-color:mediumspringgreen;}
.c-mediumslateblue {color:mediumslateblue;}
.c-f-mediumslateblue:focus {color:mediumslateblue;}
.c-h-mediumslateblue:hover {color:mediumslateblue;}
.c-bg-mediumslateblue {background-color:mediumslateblue;}
.c-hbg-mediumslateblue:hover {background-color:mediumslateblue;}
.c-fbg-mediumslateblue:focus {background-color:mediumslateblue;}
.c-bd-mediumslateblue {border-color:mediumslateblue;}
.c-hbd-mediumslateblue:hover {border-color:mediumslateblue;}
.c-fbd-mediumslateblue:focus {border-color:mediumslateblue;}
.c-mediumseagreen {color:mediumseagreen;}
.c-f-mediumseagreen:focus {color:mediumseagreen;}
.c-h-mediumseagreen:hover {color:mediumseagreen;}
.c-bg-mediumseagreen {background-color:mediumseagreen;}
.c-hbg-mediumseagreen:hover {background-color:mediumseagreen;}
.c-fbg-mediumseagreen:focus {background-color:mediumseagreen;}
.c-bd-mediumseagreen {border-color:mediumseagreen;}
.c-hbd-mediumseagreen:hover {border-color:mediumseagreen;}
.c-fbd-mediumseagreen:focus {border-color:mediumseagreen;}
.c-mediumpurple {color:mediumpurple;}
.c-f-mediumpurple:focus {color:mediumpurple;}
.c-h-mediumpurple:hover {color:mediumpurple;}
.c-bg-mediumpurple {background-color:mediumpurple;}
.c-hbg-mediumpurple:hover {background-color:mediumpurple;}
.c-fbg-mediumpurple:focus {background-color:mediumpurple;}
.c-bd-mediumpurple {border-color:mediumpurple;}
.c-hbd-mediumpurple:hover {border-color:mediumpurple;}
.c-fbd-mediumpurple:focus {border-color:mediumpurple;}
.c-mediumorchid {color:mediumorchid;}
.c-f-mediumorchid:focus {color:mediumorchid;}
.c-h-mediumorchid:hover {color:mediumorchid;}
.c-bg-mediumorchid {background-color:mediumorchid;}
.c-hbg-mediumorchid:hover {background-color:mediumorchid;}
.c-fbg-mediumorchid:focus {background-color:mediumorchid;}
.c-bd-mediumorchid {border-color:mediumorchid;}
.c-hbd-mediumorchid:hover {border-color:mediumorchid;}
.c-fbd-mediumorchid:focus {border-color:mediumorchid;}
.c-mediumblue {color:mediumblue;}
.c-f-mediumblue:focus {color:mediumblue;}
.c-h-mediumblue:hover {color:mediumblue;}
.c-bg-mediumblue {background-color:mediumblue;}
.c-hbg-mediumblue:hover {background-color:mediumblue;}
.c-fbg-mediumblue:focus {background-color:mediumblue;}
.c-bd-mediumblue {border-color:mediumblue;}
.c-hbd-mediumblue:hover {border-color:mediumblue;}
.c-fbd-mediumblue:focus {border-color:mediumblue;}
.c-mediumaquamarine {color:mediumaquamarine;}
.c-f-mediumaquamarine:focus {color:mediumaquamarine;}
.c-h-mediumaquamarine:hover {color:mediumaquamarine;}
.c-bg-mediumaquamarine {background-color:mediumaquamarine;}
.c-hbg-mediumaquamarine:hover {background-color:mediumaquamarine;}
.c-fbg-mediumaquamarine:focus {background-color:mediumaquamarine;}
.c-bd-mediumaquamarine {border-color:mediumaquamarine;}
.c-hbd-mediumaquamarine:hover {border-color:mediumaquamarine;}
.c-fbd-mediumaquamarine:focus {border-color:mediumaquamarine;}
.c-maroon {color:maroon;}
.c-f-maroon:focus {color:maroon;}
.c-h-maroon:hover {color:maroon;}
.c-bg-maroon {background-color:maroon;}
.c-hbg-maroon:hover {background-color:maroon;}
.c-fbg-maroon:focus {background-color:maroon;}
.c-bd-maroon {border-color:maroon;}
.c-hbd-maroon:hover {border-color:maroon;}
.c-fbd-maroon:focus {border-color:maroon;}
.c-magenta {color:magenta;}
.c-f-magenta:focus {color:magenta;}
.c-h-magenta:hover {color:magenta;}
.c-bg-magenta {background-color:magenta;}
.c-hbg-magenta:hover {background-color:magenta;}
.c-fbg-magenta:focus {background-color:magenta;}
.c-bd-magenta {border-color:magenta;}
.c-hbd-magenta:hover {border-color:magenta;}
.c-fbd-magenta:focus {border-color:magenta;}
.c-linen {color:linen;}
.c-f-linen:focus {color:linen;}
.c-h-linen:hover {color:linen;}
.c-bg-linen {background-color:linen;}
.c-hbg-linen:hover {background-color:linen;}
.c-fbg-linen:focus {background-color:linen;}
.c-bd-linen {border-color:linen;}
.c-hbd-linen:hover {border-color:linen;}
.c-fbd-linen:focus {border-color:linen;}
.c-limegreen {color:limegreen;}
.c-f-limegreen:focus {color:limegreen;}
.c-h-limegreen:hover {color:limegreen;}
.c-bg-limegreen {background-color:limegreen;}
.c-hbg-limegreen:hover {background-color:limegreen;}
.c-fbg-limegreen:focus {background-color:limegreen;}
.c-bd-limegreen {border-color:limegreen;}
.c-hbd-limegreen:hover {border-color:limegreen;}
.c-fbd-limegreen:focus {border-color:limegreen;}
.c-lime {color:lime;}
.c-f-lime:focus {color:lime;}
.c-h-lime:hover {color:lime;}
.c-bg-lime {background-color:lime;}
.c-hbg-lime:hover {background-color:lime;}
.c-fbg-lime:focus {background-color:lime;}
.c-bd-lime {border-color:lime;}
.c-hbd-lime:hover {border-color:lime;}
.c-fbd-lime:focus {border-color:lime;}
.c-lightyellow {color:lightyellow;}
.c-f-lightyellow:focus {color:lightyellow;}
.c-h-lightyellow:hover {color:lightyellow;}
.c-bg-lightyellow {background-color:lightyellow;}
.c-hbg-lightyellow:hover {background-color:lightyellow;}
.c-fbg-lightyellow:focus {background-color:lightyellow;}
.c-bd-lightyellow {border-color:lightyellow;}
.c-hbd-lightyellow:hover {border-color:lightyellow;}
.c-fbd-lightyellow:focus {border-color:lightyellow;}
.c-lightsteelblue {color:lightsteelblue;}
.c-f-lightsteelblue:focus {color:lightsteelblue;}
.c-h-lightsteelblue:hover {color:lightsteelblue;}
.c-bg-lightsteelblue {background-color:lightsteelblue;}
.c-hbg-lightsteelblue:hover {background-color:lightsteelblue;}
.c-fbg-lightsteelblue:focus {background-color:lightsteelblue;}
.c-bd-lightsteelblue {border-color:lightsteelblue;}
.c-hbd-lightsteelblue:hover {border-color:lightsteelblue;}
.c-fbd-lightsteelblue:focus {border-color:lightsteelblue;}
.c-lightslategrey {color:lightslategrey;}
.c-f-lightslategrey:focus {color:lightslategrey;}
.c-h-lightslategrey:hover {color:lightslategrey;}
.c-bg-lightslategrey {background-color:lightslategrey;}
.c-hbg-lightslategrey:hover {background-color:lightslategrey;}
.c-fbg-lightslategrey:focus {background-color:lightslategrey;}
.c-bd-lightslategrey {border-color:lightslategrey;}
.c-hbd-lightslategrey:hover {border-color:lightslategrey;}
.c-fbd-lightslategrey:focus {border-color:lightslategrey;}
.c-lightslategray {color:lightslategray;}
.c-f-lightslategray:focus {color:lightslategray;}
.c-h-lightslategray:hover {color:lightslategray;}
.c-bg-lightslategray {background-color:lightslategray;}
.c-hbg-lightslategray:hover {background-color:lightslategray;}
.c-fbg-lightslategray:focus {background-color:lightslategray;}
.c-bd-lightslategray {border-color:lightslategray;}
.c-hbd-lightslategray:hover {border-color:lightslategray;}
.c-fbd-lightslategray:focus {border-color:lightslategray;}
.c-lightskyblue {color:lightskyblue;}
.c-f-lightskyblue:focus {color:lightskyblue;}
.c-h-lightskyblue:hover {color:lightskyblue;}
.c-bg-lightskyblue {background-color:lightskyblue;}
.c-hbg-lightskyblue:hover {background-color:lightskyblue;}
.c-fbg-lightskyblue:focus {background-color:lightskyblue;}
.c-bd-lightskyblue {border-color:lightskyblue;}
.c-hbd-lightskyblue:hover {border-color:lightskyblue;}
.c-fbd-lightskyblue:focus {border-color:lightskyblue;}
.c-lightseagreen {color:lightseagreen;}
.c-f-lightseagreen:focus {color:lightseagreen;}
.c-h-lightseagreen:hover {color:lightseagreen;}
.c-bg-lightseagreen {background-color:lightseagreen;}
.c-hbg-lightseagreen:hover {background-color:lightseagreen;}
.c-fbg-lightseagreen:focus {background-color:lightseagreen;}
.c-bd-lightseagreen {border-color:lightseagreen;}
.c-hbd-lightseagreen:hover {border-color:lightseagreen;}
.c-fbd-lightseagreen:focus {border-color:lightseagreen;}
.c-lightsalmon {color:lightsalmon;}
.c-f-lightsalmon:focus {color:lightsalmon;}
.c-h-lightsalmon:hover {color:lightsalmon;}
.c-bg-lightsalmon {background-color:lightsalmon;}
.c-hbg-lightsalmon:hover {background-color:lightsalmon;}
.c-fbg-lightsalmon:focus {background-color:lightsalmon;}
.c-bd-lightsalmon {border-color:lightsalmon;}
.c-hbd-lightsalmon:hover {border-color:lightsalmon;}
.c-fbd-lightsalmon:focus {border-color:lightsalmon;}
.c-lightpink {color:lightpink;}
.c-f-lightpink:focus {color:lightpink;}
.c-h-lightpink:hover {color:lightpink;}
.c-bg-lightpink {background-color:lightpink;}
.c-hbg-lightpink:hover {background-color:lightpink;}
.c-fbg-lightpink:focus {background-color:lightpink;}
.c-bd-lightpink {border-color:lightpink;}
.c-hbd-lightpink:hover {border-color:lightpink;}
.c-fbd-lightpink:focus {border-color:lightpink;}
.c-lightgreen {color:lightgreen;}
.c-f-lightgreen:focus {color:lightgreen;}
.c-h-lightgreen:hover {color:lightgreen;}
.c-bg-lightgreen {background-color:lightgreen;}
.c-hbg-lightgreen:hover {background-color:lightgreen;}
.c-fbg-lightgreen:focus {background-color:lightgreen;}
.c-bd-lightgreen {border-color:lightgreen;}
.c-hbd-lightgreen:hover {border-color:lightgreen;}
.c-fbd-lightgreen:focus {border-color:lightgreen;}
.c-lightgrey {color:lightgrey;}
.c-f-lightgrey:focus {color:lightgrey;}
.c-h-lightgrey:hover {color:lightgrey;}
.c-bg-lightgrey {background-color:lightgrey;}
.c-hbg-lightgrey:hover {background-color:lightgrey;}
.c-fbg-lightgrey:focus {background-color:lightgrey;}
.c-bd-lightgrey {border-color:lightgrey;}
.c-hbd-lightgrey:hover {border-color:lightgrey;}
.c-fbd-lightgrey:focus {border-color:lightgrey;}
.c-lightgray {color:lightgray;}
.c-f-lightgray:focus {color:lightgray;}
.c-h-lightgray:hover {color:lightgray;}
.c-bg-lightgray {background-color:lightgray;}
.c-hbg-lightgray:hover {background-color:lightgray;}
.c-fbg-lightgray:focus {background-color:lightgray;}
.c-bd-lightgray {border-color:lightgray;}
.c-hbd-lightgray:hover {border-color:lightgray;}
.c-fbd-lightgray:focus {border-color:lightgray;}
.c-lightgoldenrodyellow {color:lightgoldenrodyellow;}
.c-f-lightgoldenrodyellow:focus {color:lightgoldenrodyellow;}
.c-h-lightgoldenrodyellow:hover {color:lightgoldenrodyellow;}
.c-bg-lightgoldenrodyellow {background-color:lightgoldenrodyellow;}
.c-hbg-lightgoldenrodyellow:hover {background-color:lightgoldenrodyellow;}
.c-fbg-lightgoldenrodyellow:focus {background-color:lightgoldenrodyellow;}
.c-bd-lightgoldenrodyellow {border-color:lightgoldenrodyellow;}
.c-hbd-lightgoldenrodyellow:hover {border-color:lightgoldenrodyellow;}
.c-fbd-lightgoldenrodyellow:focus {border-color:lightgoldenrodyellow;}
.c-lightcyan {color:lightcyan;}
.c-f-lightcyan:focus {color:lightcyan;}
.c-h-lightcyan:hover {color:lightcyan;}
.c-bg-lightcyan {background-color:lightcyan;}
.c-hbg-lightcyan:hover {background-color:lightcyan;}
.c-fbg-lightcyan:focus {background-color:lightcyan;}
.c-bd-lightcyan {border-color:lightcyan;}
.c-hbd-lightcyan:hover {border-color:lightcyan;}
.c-fbd-lightcyan:focus {border-color:lightcyan;}
.c-lightcoral {color:lightcoral;}
.c-f-lightcoral:focus {color:lightcoral;}
.c-h-lightcoral:hover {color:lightcoral;}
.c-bg-lightcoral {background-color:lightcoral;}
.c-hbg-lightcoral:hover {background-color:lightcoral;}
.c-fbg-lightcoral:focus {background-color:lightcoral;}
.c-bd-lightcoral {border-color:lightcoral;}
.c-hbd-lightcoral:hover {border-color:lightcoral;}
.c-fbd-lightcoral:focus {border-color:lightcoral;}
.c-lightblue {color:lightblue;}
.c-f-lightblue:focus {color:lightblue;}
.c-h-lightblue:hover {color:lightblue;}
.c-bg-lightblue {background-color:lightblue;}
.c-hbg-lightblue:hover {background-color:lightblue;}
.c-fbg-lightblue:focus {background-color:lightblue;}
.c-bd-lightblue {border-color:lightblue;}
.c-hbd-lightblue:hover {border-color:lightblue;}
.c-fbd-lightblue:focus {border-color:lightblue;}
.c-lemonchiffon {color:lemonchiffon;}
.c-f-lemonchiffon:focus {color:lemonchiffon;}
.c-h-lemonchiffon:hover {color:lemonchiffon;}
.c-bg-lemonchiffon {background-color:lemonchiffon;}
.c-hbg-lemonchiffon:hover {background-color:lemonchiffon;}
.c-fbg-lemonchiffon:focus {background-color:lemonchiffon;}
.c-bd-lemonchiffon {border-color:lemonchiffon;}
.c-hbd-lemonchiffon:hover {border-color:lemonchiffon;}
.c-fbd-lemonchiffon:focus {border-color:lemonchiffon;}
.c-lawngreen {color:lawngreen;}
.c-f-lawngreen:focus {color:lawngreen;}
.c-h-lawngreen:hover {color:lawngreen;}
.c-bg-lawngreen {background-color:lawngreen;}
.c-hbg-lawngreen:hover {background-color:lawngreen;}
.c-fbg-lawngreen:focus {background-color:lawngreen;}
.c-bd-lawngreen {border-color:lawngreen;}
.c-hbd-lawngreen:hover {border-color:lawngreen;}
.c-fbd-lawngreen:focus {border-color:lawngreen;}
.c-lavenderblush {color:lavenderblush;}
.c-f-lavenderblush:focus {color:lavenderblush;}
.c-h-lavenderblush:hover {color:lavenderblush;}
.c-bg-lavenderblush {background-color:lavenderblush;}
.c-hbg-lavenderblush:hover {background-color:lavenderblush;}
.c-fbg-lavenderblush:focus {background-color:lavenderblush;}
.c-bd-lavenderblush {border-color:lavenderblush;}
.c-hbd-lavenderblush:hover {border-color:lavenderblush;}
.c-fbd-lavenderblush:focus {border-color:lavenderblush;}
.c-lavender {color:lavender;}
.c-f-lavender:focus {color:lavender;}
.c-h-lavender:hover {color:lavender;}
.c-bg-lavender {background-color:lavender;}
.c-hbg-lavender:hover {background-color:lavender;}
.c-fbg-lavender:focus {background-color:lavender;}
.c-bd-lavender {border-color:lavender;}
.c-hbd-lavender:hover {border-color:lavender;}
.c-fbd-lavender:focus {border-color:lavender;}
.c-khaki {color:khaki;}
.c-f-khaki:focus {color:khaki;}
.c-h-khaki:hover {color:khaki;}
.c-bg-khaki {background-color:khaki;}
.c-hbg-khaki:hover {background-color:khaki;}
.c-fbg-khaki:focus {background-color:khaki;}
.c-bd-khaki {border-color:khaki;}
.c-hbd-khaki:hover {border-color:khaki;}
.c-fbd-khaki:focus {border-color:khaki;}
.c-ivory {color:ivory;}
.c-f-ivory:focus {color:ivory;}
.c-h-ivory:hover {color:ivory;}
.c-bg-ivory {background-color:ivory;}
.c-hbg-ivory:hover {background-color:ivory;}
.c-fbg-ivory:focus {background-color:ivory;}
.c-bd-ivory {border-color:ivory;}
.c-hbd-ivory:hover {border-color:ivory;}
.c-fbd-ivory:focus {border-color:ivory;}
.c-indigo {color:indigo;}
.c-f-indigo:focus {color:indigo;}
.c-h-indigo:hover {color:indigo;}
.c-bg-indigo {background-color:indigo;}
.c-hbg-indigo:hover {background-color:indigo;}
.c-fbg-indigo:focus {background-color:indigo;}
.c-bd-indigo {border-color:indigo;}
.c-hbd-indigo:hover {border-color:indigo;}
.c-fbd-indigo:focus {border-color:indigo;}
.c-indianred {color:indianred;}
.c-f-indianred:focus {color:indianred;}
.c-h-indianred:hover {color:indianred;}
.c-bg-indianred {background-color:indianred;}
.c-hbg-indianred:hover {background-color:indianred;}
.c-fbg-indianred:focus {background-color:indianred;}
.c-bd-indianred {border-color:indianred;}
.c-hbd-indianred:hover {border-color:indianred;}
.c-fbd-indianred:focus {border-color:indianred;}
.c-hotpink {color:hotpink;}
.c-f-hotpink:focus {color:hotpink;}
.c-h-hotpink:hover {color:hotpink;}
.c-bg-hotpink {background-color:hotpink;}
.c-hbg-hotpink:hover {background-color:hotpink;}
.c-fbg-hotpink:focus {background-color:hotpink;}
.c-bd-hotpink {border-color:hotpink;}
.c-hbd-hotpink:hover {border-color:hotpink;}
.c-fbd-hotpink:focus {border-color:hotpink;}
.c-honeydew {color:honeydew;}
.c-f-honeydew:focus {color:honeydew;}
.c-h-honeydew:hover {color:honeydew;}
.c-bg-honeydew {background-color:honeydew;}
.c-hbg-honeydew:hover {background-color:honeydew;}
.c-fbg-honeydew:focus {background-color:honeydew;}
.c-bd-honeydew {border-color:honeydew;}
.c-hbd-honeydew:hover {border-color:honeydew;}
.c-fbd-honeydew:focus {border-color:honeydew;}
.c-greenyellow {color:greenyellow;}
.c-f-greenyellow:focus {color:greenyellow;}
.c-h-greenyellow:hover {color:greenyellow;}
.c-bg-greenyellow {background-color:greenyellow;}
.c-hbg-greenyellow:hover {background-color:greenyellow;}
.c-fbg-greenyellow:focus {background-color:greenyellow;}
.c-bd-greenyellow {border-color:greenyellow;}
.c-hbd-greenyellow:hover {border-color:greenyellow;}
.c-fbd-greenyellow:focus {border-color:greenyellow;}
.c-green {color:green;}
.c-f-green:focus {color:green;}
.c-h-green:hover {color:green;}
.c-bg-green {background-color:green;}
.c-hbg-green:hover {background-color:green;}
.c-fbg-green:focus {background-color:green;}
.c-bd-green {border-color:green;}
.c-hbd-green:hover {border-color:green;}
.c-fbd-green:focus {border-color:green;}
.c-grey {color:grey;}
.c-f-grey:focus {color:grey;}
.c-h-grey:hover {color:grey;}
.c-bg-grey {background-color:grey;}
.c-hbg-grey:hover {background-color:grey;}
.c-fbg-grey:focus {background-color:grey;}
.c-bd-grey {border-color:grey;}
.c-hbd-grey:hover {border-color:grey;}
.c-fbd-grey:focus {border-color:grey;}
.c-gray {color:gray;}
.c-f-gray:focus {color:gray;}
.c-h-gray:hover {color:gray;}
.c-bg-gray {background-color:gray;}
.c-hbg-gray:hover {background-color:gray;}
.c-fbg-gray:focus {background-color:gray;}
.c-bd-gray {border-color:gray;}
.c-hbd-gray:hover {border-color:gray;}
.c-fbd-gray:focus {border-color:gray;}
.c-goldenrod {color:goldenrod;}
.c-f-goldenrod:focus {color:goldenrod;}
.c-h-goldenrod:hover {color:goldenrod;}
.c-bg-goldenrod {background-color:goldenrod;}
.c-hbg-goldenrod:hover {background-color:goldenrod;}
.c-fbg-goldenrod:focus {background-color:goldenrod;}
.c-bd-goldenrod {border-color:goldenrod;}
.c-hbd-goldenrod:hover {border-color:goldenrod;}
.c-fbd-goldenrod:focus {border-color:goldenrod;}
.c-gold {color:gold;}
.c-f-gold:focus {color:gold;}
.c-h-gold:hover {color:gold;}
.c-bg-gold {background-color:gold;}
.c-hbg-gold:hover {background-color:gold;}
.c-fbg-gold:focus {background-color:gold;}
.c-bd-gold {border-color:gold;}
.c-hbd-gold:hover {border-color:gold;}
.c-fbd-gold:focus {border-color:gold;}
.c-ghostwhite {color:ghostwhite;}
.c-f-ghostwhite:focus {color:ghostwhite;}
.c-h-ghostwhite:hover {color:ghostwhite;}
.c-bg-ghostwhite {background-color:ghostwhite;}
.c-hbg-ghostwhite:hover {background-color:ghostwhite;}
.c-fbg-ghostwhite:focus {background-color:ghostwhite;}
.c-bd-ghostwhite {border-color:ghostwhite;}
.c-hbd-ghostwhite:hover {border-color:ghostwhite;}
.c-fbd-ghostwhite:focus {border-color:ghostwhite;}
.c-gainsboro {color:gainsboro;}
.c-f-gainsboro:focus {color:gainsboro;}
.c-h-gainsboro:hover {color:gainsboro;}
.c-bg-gainsboro {background-color:gainsboro;}
.c-hbg-gainsboro:hover {background-color:gainsboro;}
.c-fbg-gainsboro:focus {background-color:gainsboro;}
.c-bd-gainsboro {border-color:gainsboro;}
.c-hbd-gainsboro:hover {border-color:gainsboro;}
.c-fbd-gainsboro:focus {border-color:gainsboro;}
.c-fuchsia {color:fuchsia;}
.c-f-fuchsia:focus {color:fuchsia;}
.c-h-fuchsia:hover {color:fuchsia;}
.c-bg-fuchsia {background-color:fuchsia;}
.c-hbg-fuchsia:hover {background-color:fuchsia;}
.c-fbg-fuchsia:focus {background-color:fuchsia;}
.c-bd-fuchsia {border-color:fuchsia;}
.c-hbd-fuchsia:hover {border-color:fuchsia;}
.c-fbd-fuchsia:focus {border-color:fuchsia;}
.c-forestgreen {color:forestgreen;}
.c-f-forestgreen:focus {color:forestgreen;}
.c-h-forestgreen:hover {color:forestgreen;}
.c-bg-forestgreen {background-color:forestgreen;}
.c-hbg-forestgreen:hover {background-color:forestgreen;}
.c-fbg-forestgreen:focus {background-color:forestgreen;}
.c-bd-forestgreen {border-color:forestgreen;}
.c-hbd-forestgreen:hover {border-color:forestgreen;}
.c-fbd-forestgreen:focus {border-color:forestgreen;}
.c-floralwhite {color:floralwhite;}
.c-f-floralwhite:focus {color:floralwhite;}
.c-h-floralwhite:hover {color:floralwhite;}
.c-bg-floralwhite {background-color:floralwhite;}
.c-hbg-floralwhite:hover {background-color:floralwhite;}
.c-fbg-floralwhite:focus {background-color:floralwhite;}
.c-bd-floralwhite {border-color:floralwhite;}
.c-hbd-floralwhite:hover {border-color:floralwhite;}
.c-fbd-floralwhite:focus {border-color:floralwhite;}
.c-firebrick {color:firebrick;}
.c-f-firebrick:focus {color:firebrick;}
.c-h-firebrick:hover {color:firebrick;}
.c-bg-firebrick {background-color:firebrick;}
.c-hbg-firebrick:hover {background-color:firebrick;}
.c-fbg-firebrick:focus {background-color:firebrick;}
.c-bd-firebrick {border-color:firebrick;}
.c-hbd-firebrick:hover {border-color:firebrick;}
.c-fbd-firebrick:focus {border-color:firebrick;}
.c-dodgerblue {color:dodgerblue;}
.c-f-dodgerblue:focus {color:dodgerblue;}
.c-h-dodgerblue:hover {color:dodgerblue;}
.c-bg-dodgerblue {background-color:dodgerblue;}
.c-hbg-dodgerblue:hover {background-color:dodgerblue;}
.c-fbg-dodgerblue:focus {background-color:dodgerblue;}
.c-bd-dodgerblue {border-color:dodgerblue;}
.c-hbd-dodgerblue:hover {border-color:dodgerblue;}
.c-fbd-dodgerblue:focus {border-color:dodgerblue;}
.c-dimgrey {color:dimgrey;}
.c-f-dimgrey:focus {color:dimgrey;}
.c-h-dimgrey:hover {color:dimgrey;}
.c-bg-dimgrey {background-color:dimgrey;}
.c-hbg-dimgrey:hover {background-color:dimgrey;}
.c-fbg-dimgrey:focus {background-color:dimgrey;}
.c-bd-dimgrey {border-color:dimgrey;}
.c-hbd-dimgrey:hover {border-color:dimgrey;}
.c-fbd-dimgrey:focus {border-color:dimgrey;}
.c-dimgray {color:dimgray;}
.c-f-dimgray:focus {color:dimgray;}
.c-h-dimgray:hover {color:dimgray;}
.c-bg-dimgray {background-color:dimgray;}
.c-hbg-dimgray:hover {background-color:dimgray;}
.c-fbg-dimgray:focus {background-color:dimgray;}
.c-bd-dimgray {border-color:dimgray;}
.c-hbd-dimgray:hover {border-color:dimgray;}
.c-fbd-dimgray:focus {border-color:dimgray;}
.c-deepskyblue {color:deepskyblue;}
.c-f-deepskyblue:focus {color:deepskyblue;}
.c-h-deepskyblue:hover {color:deepskyblue;}
.c-bg-deepskyblue {background-color:deepskyblue;}
.c-hbg-deepskyblue:hover {background-color:deepskyblue;}
.c-fbg-deepskyblue:focus {background-color:deepskyblue;}
.c-bd-deepskyblue {border-color:deepskyblue;}
.c-hbd-deepskyblue:hover {border-color:deepskyblue;}
.c-fbd-deepskyblue:focus {border-color:deepskyblue;}
.c-deeppink {color:deeppink;}
.c-f-deeppink:focus {color:deeppink;}
.c-h-deeppink:hover {color:deeppink;}
.c-bg-deeppink {background-color:deeppink;}
.c-hbg-deeppink:hover {background-color:deeppink;}
.c-fbg-deeppink:focus {background-color:deeppink;}
.c-bd-deeppink {border-color:deeppink;}
.c-hbd-deeppink:hover {border-color:deeppink;}
.c-fbd-deeppink:focus {border-color:deeppink;}
.c-darkviolet {color:darkviolet;}
.c-f-darkviolet:focus {color:darkviolet;}
.c-h-darkviolet:hover {color:darkviolet;}
.c-bg-darkviolet {background-color:darkviolet;}
.c-hbg-darkviolet:hover {background-color:darkviolet;}
.c-fbg-darkviolet:focus {background-color:darkviolet;}
.c-bd-darkviolet {border-color:darkviolet;}
.c-hbd-darkviolet:hover {border-color:darkviolet;}
.c-fbd-darkviolet:focus {border-color:darkviolet;}
.c-darkturquoise {color:darkturquoise;}
.c-f-darkturquoise:focus {color:darkturquoise;}
.c-h-darkturquoise:hover {color:darkturquoise;}
.c-bg-darkturquoise {background-color:darkturquoise;}
.c-hbg-darkturquoise:hover {background-color:darkturquoise;}
.c-fbg-darkturquoise:focus {background-color:darkturquoise;}
.c-bd-darkturquoise {border-color:darkturquoise;}
.c-hbd-darkturquoise:hover {border-color:darkturquoise;}
.c-fbd-darkturquoise:focus {border-color:darkturquoise;}
.c-darkslategrey {color:darkslategrey;}
.c-f-darkslategrey:focus {color:darkslategrey;}
.c-h-darkslategrey:hover {color:darkslategrey;}
.c-bg-darkslategrey {background-color:darkslategrey;}
.c-hbg-darkslategrey:hover {background-color:darkslategrey;}
.c-fbg-darkslategrey:focus {background-color:darkslategrey;}
.c-bd-darkslategrey {border-color:darkslategrey;}
.c-hbd-darkslategrey:hover {border-color:darkslategrey;}
.c-fbd-darkslategrey:focus {border-color:darkslategrey;}
.c-darkslategray {color:darkslategray;}
.c-f-darkslategray:focus {color:darkslategray;}
.c-h-darkslategray:hover {color:darkslategray;}
.c-bg-darkslategray {background-color:darkslategray;}
.c-hbg-darkslategray:hover {background-color:darkslategray;}
.c-fbg-darkslategray:focus {background-color:darkslategray;}
.c-bd-darkslategray {border-color:darkslategray;}
.c-hbd-darkslategray:hover {border-color:darkslategray;}
.c-fbd-darkslategray:focus {border-color:darkslategray;}
.c-darkslateblue {color:darkslateblue;}
.c-f-darkslateblue:focus {color:darkslateblue;}
.c-h-darkslateblue:hover {color:darkslateblue;}
.c-bg-darkslateblue {background-color:darkslateblue;}
.c-hbg-darkslateblue:hover {background-color:darkslateblue;}
.c-fbg-darkslateblue:focus {background-color:darkslateblue;}
.c-bd-darkslateblue {border-color:darkslateblue;}
.c-hbd-darkslateblue:hover {border-color:darkslateblue;}
.c-fbd-darkslateblue:focus {border-color:darkslateblue;}
.c-darkseagreen {color:darkseagreen;}
.c-f-darkseagreen:focus {color:darkseagreen;}
.c-h-darkseagreen:hover {color:darkseagreen;}
.c-bg-darkseagreen {background-color:darkseagreen;}
.c-hbg-darkseagreen:hover {background-color:darkseagreen;}
.c-fbg-darkseagreen:focus {background-color:darkseagreen;}
.c-bd-darkseagreen {border-color:darkseagreen;}
.c-hbd-darkseagreen:hover {border-color:darkseagreen;}
.c-fbd-darkseagreen:focus {border-color:darkseagreen;}
.c-darksalmon {color:darksalmon;}
.c-f-darksalmon:focus {color:darksalmon;}
.c-h-darksalmon:hover {color:darksalmon;}
.c-bg-darksalmon {background-color:darksalmon;}
.c-hbg-darksalmon:hover {background-color:darksalmon;}
.c-fbg-darksalmon:focus {background-color:darksalmon;}
.c-bd-darksalmon {border-color:darksalmon;}
.c-hbd-darksalmon:hover {border-color:darksalmon;}
.c-fbd-darksalmon:focus {border-color:darksalmon;}
.c-darkred {color:darkred;}
.c-f-darkred:focus {color:darkred;}
.c-h-darkred:hover {color:darkred;}
.c-bg-darkred {background-color:darkred;}
.c-hbg-darkred:hover {background-color:darkred;}
.c-fbg-darkred:focus {background-color:darkred;}
.c-bd-darkred {border-color:darkred;}
.c-hbd-darkred:hover {border-color:darkred;}
.c-fbd-darkred:focus {border-color:darkred;}
.c-darkorchid {color:darkorchid;}
.c-f-darkorchid:focus {color:darkorchid;}
.c-h-darkorchid:hover {color:darkorchid;}
.c-bg-darkorchid {background-color:darkorchid;}
.c-hbg-darkorchid:hover {background-color:darkorchid;}
.c-fbg-darkorchid:focus {background-color:darkorchid;}
.c-bd-darkorchid {border-color:darkorchid;}
.c-hbd-darkorchid:hover {border-color:darkorchid;}
.c-fbd-darkorchid:focus {border-color:darkorchid;}
.c-darkorange {color:darkorange;}
.c-f-darkorange:focus {color:darkorange;}
.c-h-darkorange:hover {color:darkorange;}
.c-bg-darkorange {background-color:darkorange;}
.c-hbg-darkorange:hover {background-color:darkorange;}
.c-fbg-darkorange:focus {background-color:darkorange;}
.c-bd-darkorange {border-color:darkorange;}
.c-hbd-darkorange:hover {border-color:darkorange;}
.c-fbd-darkorange:focus {border-color:darkorange;}
.c-darkolivegreen {color:darkolivegreen;}
.c-f-darkolivegreen:focus {color:darkolivegreen;}
.c-h-darkolivegreen:hover {color:darkolivegreen;}
.c-bg-darkolivegreen {background-color:darkolivegreen;}
.c-hbg-darkolivegreen:hover {background-color:darkolivegreen;}
.c-fbg-darkolivegreen:focus {background-color:darkolivegreen;}
.c-bd-darkolivegreen {border-color:darkolivegreen;}
.c-hbd-darkolivegreen:hover {border-color:darkolivegreen;}
.c-fbd-darkolivegreen:focus {border-color:darkolivegreen;}
.c-darkmagenta {color:darkmagenta;}
.c-f-darkmagenta:focus {color:darkmagenta;}
.c-h-darkmagenta:hover {color:darkmagenta;}
.c-bg-darkmagenta {background-color:darkmagenta;}
.c-hbg-darkmagenta:hover {background-color:darkmagenta;}
.c-fbg-darkmagenta:focus {background-color:darkmagenta;}
.c-bd-darkmagenta {border-color:darkmagenta;}
.c-hbd-darkmagenta:hover {border-color:darkmagenta;}
.c-fbd-darkmagenta:focus {border-color:darkmagenta;}
.c-darkkhaki {color:darkkhaki;}
.c-f-darkkhaki:focus {color:darkkhaki;}
.c-h-darkkhaki:hover {color:darkkhaki;}
.c-bg-darkkhaki {background-color:darkkhaki;}
.c-hbg-darkkhaki:hover {background-color:darkkhaki;}
.c-fbg-darkkhaki:focus {background-color:darkkhaki;}
.c-bd-darkkhaki {border-color:darkkhaki;}
.c-hbd-darkkhaki:hover {border-color:darkkhaki;}
.c-fbd-darkkhaki:focus {border-color:darkkhaki;}
.c-darkgreen {color:darkgreen;}
.c-f-darkgreen:focus {color:darkgreen;}
.c-h-darkgreen:hover {color:darkgreen;}
.c-bg-darkgreen {background-color:darkgreen;}
.c-hbg-darkgreen:hover {background-color:darkgreen;}
.c-fbg-darkgreen:focus {background-color:darkgreen;}
.c-bd-darkgreen {border-color:darkgreen;}
.c-hbd-darkgreen:hover {border-color:darkgreen;}
.c-fbd-darkgreen:focus {border-color:darkgreen;}
.c-darkgrey {color:darkgrey;}
.c-f-darkgrey:focus {color:darkgrey;}
.c-h-darkgrey:hover {color:darkgrey;}
.c-bg-darkgrey {background-color:darkgrey;}
.c-hbg-darkgrey:hover {background-color:darkgrey;}
.c-fbg-darkgrey:focus {background-color:darkgrey;}
.c-bd-darkgrey {border-color:darkgrey;}
.c-hbd-darkgrey:hover {border-color:darkgrey;}
.c-fbd-darkgrey:focus {border-color:darkgrey;}
.c-darkgray {color:darkgray;}
.c-f-darkgray:focus {color:darkgray;}
.c-h-darkgray:hover {color:darkgray;}
.c-bg-darkgray {background-color:darkgray;}
.c-hbg-darkgray:hover {background-color:darkgray;}
.c-fbg-darkgray:focus {background-color:darkgray;}
.c-bd-darkgray {border-color:darkgray;}
.c-hbd-darkgray:hover {border-color:darkgray;}
.c-fbd-darkgray:focus {border-color:darkgray;}
.c-darkgoldenrod {color:darkgoldenrod;}
.c-f-darkgoldenrod:focus {color:darkgoldenrod;}
.c-h-darkgoldenrod:hover {color:darkgoldenrod;}
.c-bg-darkgoldenrod {background-color:darkgoldenrod;}
.c-hbg-darkgoldenrod:hover {background-color:darkgoldenrod;}
.c-fbg-darkgoldenrod:focus {background-color:darkgoldenrod;}
.c-bd-darkgoldenrod {border-color:darkgoldenrod;}
.c-hbd-darkgoldenrod:hover {border-color:darkgoldenrod;}
.c-fbd-darkgoldenrod:focus {border-color:darkgoldenrod;}
.c-darkcyan {color:darkcyan;}
.c-f-darkcyan:focus {color:darkcyan;}
.c-h-darkcyan:hover {color:darkcyan;}
.c-bg-darkcyan {background-color:darkcyan;}
.c-hbg-darkcyan:hover {background-color:darkcyan;}
.c-fbg-darkcyan:focus {background-color:darkcyan;}
.c-bd-darkcyan {border-color:darkcyan;}
.c-hbd-darkcyan:hover {border-color:darkcyan;}
.c-fbd-darkcyan:focus {border-color:darkcyan;}
.c-darkblue {color:darkblue;}
.c-f-darkblue:focus {color:darkblue;}
.c-h-darkblue:hover {color:darkblue;}
.c-bg-darkblue {background-color:darkblue;}
.c-hbg-darkblue:hover {background-color:darkblue;}
.c-fbg-darkblue:focus {background-color:darkblue;}
.c-bd-darkblue {border-color:darkblue;}
.c-hbd-darkblue:hover {border-color:darkblue;}
.c-fbd-darkblue:focus {border-color:darkblue;}
.c-cyan {color:cyan;}
.c-f-cyan:focus {color:cyan;}
.c-h-cyan:hover {color:cyan;}
.c-bg-cyan {background-color:cyan;}
.c-hbg-cyan:hover {background-color:cyan;}
.c-fbg-cyan:focus {background-color:cyan;}
.c-bd-cyan {border-color:cyan;}
.c-hbd-cyan:hover {border-color:cyan;}
.c-fbd-cyan:focus {border-color:cyan;}
.c-crimson {color:crimson;}
.c-f-crimson:focus {color:crimson;}
.c-h-crimson:hover {color:crimson;}
.c-bg-crimson {background-color:crimson;}
.c-hbg-crimson:hover {background-color:crimson;}
.c-fbg-crimson:focus {background-color:crimson;}
.c-bd-crimson {border-color:crimson;}
.c-hbd-crimson:hover {border-color:crimson;}
.c-fbd-crimson:focus {border-color:crimson;}
.c-cornsilk {color:cornsilk;}
.c-f-cornsilk:focus {color:cornsilk;}
.c-h-cornsilk:hover {color:cornsilk;}
.c-bg-cornsilk {background-color:cornsilk;}
.c-hbg-cornsilk:hover {background-color:cornsilk;}
.c-fbg-cornsilk:focus {background-color:cornsilk;}
.c-bd-cornsilk {border-color:cornsilk;}
.c-hbd-cornsilk:hover {border-color:cornsilk;}
.c-fbd-cornsilk:focus {border-color:cornsilk;}
.c-cornflowerblue {color:cornflowerblue;}
.c-f-cornflowerblue:focus {color:cornflowerblue;}
.c-h-cornflowerblue:hover {color:cornflowerblue;}
.c-bg-cornflowerblue {background-color:cornflowerblue;}
.c-hbg-cornflowerblue:hover {background-color:cornflowerblue;}
.c-fbg-cornflowerblue:focus {background-color:cornflowerblue;}
.c-bd-cornflowerblue {border-color:cornflowerblue;}
.c-hbd-cornflowerblue:hover {border-color:cornflowerblue;}
.c-fbd-cornflowerblue:focus {border-color:cornflowerblue;}
.c-coral {color:coral;}
.c-f-coral:focus {color:coral;}
.c-h-coral:hover {color:coral;}
.c-bg-coral {background-color:coral;}
.c-hbg-coral:hover {background-color:coral;}
.c-fbg-coral:focus {background-color:coral;}
.c-bd-coral {border-color:coral;}
.c-hbd-coral:hover {border-color:coral;}
.c-fbd-coral:focus {border-color:coral;}
.c-chocolate {color:chocolate;}
.c-f-chocolate:focus {color:chocolate;}
.c-h-chocolate:hover {color:chocolate;}
.c-bg-chocolate {background-color:chocolate;}
.c-hbg-chocolate:hover {background-color:chocolate;}
.c-fbg-chocolate:focus {background-color:chocolate;}
.c-bd-chocolate {border-color:chocolate;}
.c-hbd-chocolate:hover {border-color:chocolate;}
.c-fbd-chocolate:focus {border-color:chocolate;}
.c-chartreuse {color:chartreuse;}
.c-f-chartreuse:focus {color:chartreuse;}
.c-h-chartreuse:hover {color:chartreuse;}
.c-bg-chartreuse {background-color:chartreuse;}
.c-hbg-chartreuse:hover {background-color:chartreuse;}
.c-fbg-chartreuse:focus {background-color:chartreuse;}
.c-bd-chartreuse {border-color:chartreuse;}
.c-hbd-chartreuse:hover {border-color:chartreuse;}
.c-fbd-chartreuse:focus {border-color:chartreuse;}
.c-cadetblue {color:cadetblue;}
.c-f-cadetblue:focus {color:cadetblue;}
.c-h-cadetblue:hover {color:cadetblue;}
.c-bg-cadetblue {background-color:cadetblue;}
.c-hbg-cadetblue:hover {background-color:cadetblue;}
.c-fbg-cadetblue:focus {background-color:cadetblue;}
.c-bd-cadetblue {border-color:cadetblue;}
.c-hbd-cadetblue:hover {border-color:cadetblue;}
.c-fbd-cadetblue:focus {border-color:cadetblue;}
.c-burlywood {color:burlywood;}
.c-f-burlywood:focus {color:burlywood;}
.c-h-burlywood:hover {color:burlywood;}
.c-bg-burlywood {background-color:burlywood;}
.c-hbg-burlywood:hover {background-color:burlywood;}
.c-fbg-burlywood:focus {background-color:burlywood;}
.c-bd-burlywood {border-color:burlywood;}
.c-hbd-burlywood:hover {border-color:burlywood;}
.c-fbd-burlywood:focus {border-color:burlywood;}
.c-brown {color:brown;}
.c-f-brown:focus {color:brown;}
.c-h-brown:hover {color:brown;}
.c-bg-brown {background-color:brown;}
.c-hbg-brown:hover {background-color:brown;}
.c-fbg-brown:focus {background-color:brown;}
.c-bd-brown {border-color:brown;}
.c-hbd-brown:hover {border-color:brown;}
.c-fbd-brown:focus {border-color:brown;}
.c-blueviolet {color:blueviolet;}
.c-f-blueviolet:focus {color:blueviolet;}
.c-h-blueviolet:hover {color:blueviolet;}
.c-bg-blueviolet {background-color:blueviolet;}
.c-hbg-blueviolet:hover {background-color:blueviolet;}
.c-fbg-blueviolet:focus {background-color:blueviolet;}
.c-bd-blueviolet {border-color:blueviolet;}
.c-hbd-blueviolet:hover {border-color:blueviolet;}
.c-fbd-blueviolet:focus {border-color:blueviolet;}
.c-blue {color:blue;}
.c-f-blue:focus {color:blue;}
.c-h-blue:hover {color:blue;}
.c-bg-blue {background-color:blue;}
.c-hbg-blue:hover {background-color:blue;}
.c-fbg-blue:focus {background-color:blue;}
.c-bd-blue {border-color:blue;}
.c-hbd-blue:hover {border-color:blue;}
.c-fbd-blue:focus {border-color:blue;}
.c-blanchedalmond {color:blanchedalmond;}
.c-f-blanchedalmond:focus {color:blanchedalmond;}
.c-h-blanchedalmond:hover {color:blanchedalmond;}
.c-bg-blanchedalmond {background-color:blanchedalmond;}
.c-hbg-blanchedalmond:hover {background-color:blanchedalmond;}
.c-fbg-blanchedalmond:focus {background-color:blanchedalmond;}
.c-bd-blanchedalmond {border-color:blanchedalmond;}
.c-hbd-blanchedalmond:hover {border-color:blanchedalmond;}
.c-fbd-blanchedalmond:focus {border-color:blanchedalmond;}
.c-black {color:black;}
.c-f-black:focus {color:black;}
.c-h-black:hover {color:black;}
.c-bg-black {background-color:black;}
.c-hbg-black:hover {background-color:black;}
.c-fbg-black:focus {background-color:black;}
.c-bd-black {border-color:black;}
.c-hbd-black:hover {border-color:black;}
.c-fbd-black:focus {border-color:black;}
.c-bisque {color:bisque;}
.c-f-bisque:focus {color:bisque;}
.c-h-bisque:hover {color:bisque;}
.c-bg-bisque {background-color:bisque;}
.c-hbg-bisque:hover {background-color:bisque;}
.c-fbg-bisque:focus {background-color:bisque;}
.c-bd-bisque {border-color:bisque;}
.c-hbd-bisque:hover {border-color:bisque;}
.c-fbd-bisque:focus {border-color:bisque;}
.c-beige {color:beige;}
.c-f-beige:focus {color:beige;}
.c-h-beige:hover {color:beige;}
.c-bg-beige {background-color:beige;}
.c-hbg-beige:hover {background-color:beige;}
.c-fbg-beige:focus {background-color:beige;}
.c-bd-beige {border-color:beige;}
.c-hbd-beige:hover {border-color:beige;}
.c-fbd-beige:focus {border-color:beige;}
.c-azure {color:azure;}
.c-f-azure:focus {color:azure;}
.c-h-azure:hover {color:azure;}
.c-bg-azure {background-color:azure;}
.c-hbg-azure:hover {background-color:azure;}
.c-fbg-azure:focus {background-color:azure;}
.c-bd-azure {border-color:azure;}
.c-hbd-azure:hover {border-color:azure;}
.c-fbd-azure:focus {border-color:azure;}
.c-aquamarine {color:aquamarine;}
.c-f-aquamarine:focus {color:aquamarine;}
.c-h-aquamarine:hover {color:aquamarine;}
.c-bg-aquamarine {background-color:aquamarine;}
.c-hbg-aquamarine:hover {background-color:aquamarine;}
.c-fbg-aquamarine:focus {background-color:aquamarine;}
.c-bd-aquamarine {border-color:aquamarine;}
.c-hbd-aquamarine:hover {border-color:aquamarine;}
.c-fbd-aquamarine:focus {border-color:aquamarine;}
.c-aqua {color:aqua;}
.c-f-aqua:focus {color:aqua;}
.c-h-aqua:hover {color:aqua;}
.c-bg-aqua {background-color:aqua;}
.c-hbg-aqua:hover {background-color:aqua;}
.c-fbg-aqua:focus {background-color:aqua;}
.c-bd-aqua {border-color:aqua;}
.c-hbd-aqua:hover {border-color:aqua;}
.c-fbd-aqua:focus {border-color:aqua;}
.c-antiquewhite {color:antiquewhite;}
.c-f-antiquewhite:focus {color:antiquewhite;}
.c-h-antiquewhite:hover {color:antiquewhite;}
.c-bg-antiquewhite {background-color:antiquewhite;}
.c-hbg-antiquewhite:hover {background-color:antiquewhite;}
.c-fbg-antiquewhite:focus {background-color:antiquewhite;}
.c-bd-antiquewhite {border-color:antiquewhite;}
.c-hbd-antiquewhite:hover {border-color:antiquewhite;}
.c-fbd-antiquewhite:focus {border-color:antiquewhite;}
.c-aliceblue {color:aliceblue;}
.c-f-aliceblue:focus {color:aliceblue;}
.c-h-aliceblue:hover {color:aliceblue;}
.c-bg-aliceblue {background-color:aliceblue;}
.c-hbg-aliceblue:hover {background-color:aliceblue;}
.c-fbg-aliceblue:focus {background-color:aliceblue;}
.c-bd-aliceblue {border-color:aliceblue;}
.c-hbd-aliceblue:hover {border-color:aliceblue;}
.c-fbd-aliceblue:focus {border-color:aliceblue;}
