body {
    background-color: whitesmoke;
    font-family: "Sans-serif";
    /* font-family: "Serif"; */
    /* color: #3C3089; */
}
.clickable {
    cursor: pointer;
}

div#sitecontent {
    margin: auto;
    max-width: 1080px;
}

table.m-table td {
    padding: 4px 4px;
}
/* .m-table td:hover {
    color: firebrick;
}  */
table.m-table tr:hover{
    background-color: powderblue;
    opacity: 1;
}
.m-table th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    background-color: cadetblue;
    color: white;
    white-space: nowrap;
}

.fieldalias {
    user-select: none;
    text-transform: uppercase;
    background-color: cadetblue;
    color: white;
    white-space: nowrap;
}

div.ctxmenu {
    border: 1px solid lightsteelblue;
    width: 70px;
    box-shadow: 1px 2px 1px grey;
}

div.ctxmenuitem {
    width: 100%;
    height: 25px;
    text-align: center;
}

div.ctxmenuitem:hover {
    margin-left: -8%;
    margin-right: -8%;
    width: 116%;
    border-radius: 2px;
    color: blue;
}

div#globalmenu {
    position: absolute;
    right: 0;
    top: 0;
}

.w3-bar .my-bar-item{padding:4px 8px;float:left;width:auto;border:none;display:block;outline:0}
.my-margin-left{margin-left:8px!important}
.my-margin-right{margin-right:8px!important}
.my-margin-top{margin-top:4px!important}
.my-margin-bottom{margin-bottom:4px!important}
