<div class="w3-container w3-small w3-margin-top w3-animate-opacity">
    <div class="w3-row w3-margin-top">
        <div class="w3-col s3">&nbsp</div>
        <div class="w3-col s6">
            <h3>Sign Up</h3>

            <div class="w3-display-container w3-tiny" style="height:30px;">
                <button class="w3-btn w3-border w3-display-topright"
                    onclick="this.dispatchEvent(new CustomEvent('wannaSignIn',{bubbles:true}))"
                    >Login</button>
            </div>

            <form name="signup" action="javascript:void(0);">
                <div class="w3-opacity-min w3-margin-top">Full name:</div>
                <input type="text" data-key="name" data-domain="signup"
                    class="w3-input w3-border w3-round"
                    >


                <div class="w3-opacity-min w3-margin-top">Username:</div>
                <input type="text" data-key="username" data-domain="signup"
                    class="w3-input w3-border w3-round"
                    >

                <div class="w3-opacity-min w3-margin-top">Password:</div>
                <input type="password" data-key="password1" data-domain="signup"
                    class="w3-input w3-border w3-round"
                >

                <div class="w3-opacity-min w3-margin-top">Repeat password:</div>
                <input type="password" data-key="password2" data-domain="signup"
                    class="w3-input w3-border w3-round"
                >

                <br>
                <button class="w3-btn w3-border"
                    onclick="this.dispatchEvent(new CustomEvent('signUp',{bubbles:true}))"
                    >Register</button>
            </form>

    </div>
    <div class="w3-col s3">&nbsp</div>
</div>