<div class="w3-container w3-animate-opacity w3-margin-top w3-margin-bottom">
    {{!-- <p>Информация, размещенная на данном ресурсе с высокой долей вероятности отностится к коммерческой тайне. </p> --}}

    <h4>Сочетания клавиш:</h4>
    <ul>
        <li>F - фокус на фильтре.</li>
        <li>S - фокус на выборе столбца в фильтре.</li>
        <li>C - очистить фильтр.</li>
        <li>R - перезагрузить данные.</li>
        <li>P - экспорт PDF.</li>
        <li>, - экспорт CSV.</li>
        <li>Numpad -/+ - уменьшить/увеличить размер шрифта таблицы.</li>
        <li>Alt + Numpad -/+ - уменьшить/увеличить размер шрифта PDF.</li>
        <li>Стрелки влево/вправо - горизонтальная прокрутка таблицы.</li>
        <li>Escape - выход на уровень выше.</li>
    </ul>

    <h4>Сокрытие столбцов:</h4>
    <ul>
        <li>Скрыть - двойной клик на заголовке столбца. Название слобца появится в списке сокрытых над таблицей.</li>
        <li>Отобразить - двойной клик на названии столбца в списке сокрытых.</li>
    </ul>

    <p>В экспортируемый файл PDF или CSV попадает только видимая часть таблицы.</p>

    <p>Если при экспорте в PDF таблица не помещается по ширине, то следует уменьшить размер шрифта и/или срыть ненужные столбцы. См. выше.</p>



    <br>
    <p class="w3-tiny w3-center w3-opacity-max">&copy 2020 Vladimir Pirogov</p>
</div>