<div class="w3-container w3-margin-top">
    <div class="w3-row">
        <div class="w3-col m4">
            <div class="w3-bar-block">

                <button class="w3-bar-item w3-button w3-large">
                    <i class="icon-checkmark c-goldenrod" style="visibility:{{infoVisibility}};"></i>
                    <span class="c-darkolivegreen icon-info"> information</span>
                </button>

                {{#each sects}}
                    <button class="w3-bar-item w3-button w3-large">
                        <i class="icon-checkmark c-goldenrod" style="visibility: {{visibility}};"></i>
                        <span class="c-forestgreen">{{name}}</span>
                    </button>
                {{/each}}

            </div>
        </div>

        <div class="w3-col m8">
            <div class="w3-container" id="schematarget"></div>
        </div> 

    </div>

</div>
{{!-- {{jsonHuman .}} --}}