<div class="w3-container w3-margin-top w3-animate-opacity">
    {{#each .}}
        <a href="#schema_{{_id.$oid}}" style="text-decoration: none;">
            <div class="w3-container c-hbg-gainsboro w3-margin-top w3-margin-bottom">
                <span class="w3-large c-mediumblue">{{name}}</span><br>
                <span class="w3-small c-lightslategrey">{{description}}</span>
            </div>
        </a>
    {{/each}}
</div>