<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="icon" type="image/png" href="images/lomonosov.png">

    </head>
    <body>

        <div id="globalmenu" class="w3-container"></div>

        <div class="w3-margin-top" style="width: 100%;">
            <div id="sitecontent" class="w3-container"></div>
        </div>

        <div id="tablecontent" class="w3-container"></div>

        <div id="modal" class="w3-modal" style="display:none;">
            <div id="modal-content" class="w3-modal-content"></div>
        </div>

        <script src="bundle.js"></script>
    </body>
</html>